<!-- home.erb -->

<h1>Welcome to Rock-Paper-Scissors!</h1>

<div>
  <p>The simplified rules are:</p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/627px-Rock-paper-scissors.svg.png">
</div>
