<!-- play_rock.erb -->
<!--
<head>
  <title>Rock play</title>

  <style>
    h2.win{
      color: green
    }

    h2.lose{
      color:red
    }
  </style>
</head> -->

<h2>We played rock!</h2>

<h2>They played <%= @computer_move %>!</h2>

<h2> <%= @outcome %> </h2>

<div class="home">
    <div><a href="/">Rules</a></div>
</div>
